@import 'https://fonts.googleapis.com/css?family=Montserrat';

.fb-form {
  width: 300px;
  top: 50%;
  left: 50%;
  position: relative;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.fb-form h2 {
  text-align: center;
  font-size: 1.4em;
}

.fb-form input {
  margin: 15px 0;
}

.fb-form input[type='submit'] {
  margin-top: 0;
}

.fb-form textarea {
  height: 100px;
}

.rating {
  margin: 15px auto;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  width: 100%;
}

.rating .fastar {
  font-size: 2em;
  cursor: pointer;
  margin: 0 5.1%;
  transition: all 0.5s ease;
}

.rating .fastar.active-rating {
  transition: all 0.5s ease;
  -webkit-animation: rating-highlight 0.5s ease forwards;
  animation: rating-highlight 0.5s ease forwards;
}

.rating .fastar.active-rating:nth-child(5) {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar.active-rating:nth-child(1) {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar.active-rating:nth-child(1) ~ .fastar {
  transition: all 0.5s ease;
  color: yellow;
}

.rating .fastar.active-rating:nth-child(2) {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar.active-rating:nth-child(2) ~ .fastar {
  transition: all 0.5s ease;
  color: yellow;
}

.rating .fastar.active-rating:nth-child(3) {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar.active-rating:nth-child(3) ~ .fastar {
  transition: all 0.5s ease;
  color: yellow;
}

.rating .fastar.active-rating:nth-child(4) {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar.active-rating:nth-child(4) ~ .fastar {
  transition: all 0.5s ease;
  color: yellow;
}

.rating .fastar:hover:nth-child(5) {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar:hover:nth-child(1) {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar:hover:nth-child(1) ~ .fastar {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar:hover:nth-child(2) {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar:hover:nth-child(2) ~ .fastar {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar:hover:nth-child(3) {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar:hover:nth-child(3) ~ .fastar {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar:hover:nth-child(4) {
  color: yellow;
  transition: all 0.5s ease;
}

.rating .fastar:hover:nth-child(4) ~ .fastar {
  color: yellow;
  transition: all 0.5s ease;
}

@-webkit-keyframes rating-highlight {
  0% {
    -webkit-transform: rotate(-10deg) scale(1.2);
    transform: rotate(-10deg) scale(1.2);
  }

  20% {
    -webkit-transform: rotate(10deg) scale(0.8);
    transform: rotate(10deg) scale(0.8);
  }

  50% {
    -webkit-transform: rotate(-5deg) scale(1.1);
    transform: rotate(-5deg) scale(1.1);
  }

  80% {
    -webkit-transform: rotate(5deg) scale(0.9);
    transform: rotate(5deg) scale(0.9);
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}

@keyframes rating-highlight {
  0% {
    -webkit-transform: rotate(-10deg) scale(1.2);
    transform: rotate(-10deg) scale(1.2);
  }

  20% {
    -webkit-transform: rotate(10deg) scale(0.8);
    transform: rotate(10deg) scale(0.8);
  }

  50% {
    -webkit-transform: rotate(-5deg) scale(1.1);
    transform: rotate(-5deg) scale(1.1);
  }

  80% {
    -webkit-transform: rotate(5deg) scale(0.9);
    transform: rotate(5deg) scale(0.9);
  }

  100% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
}
