.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  position: relative;
  padding: 16px;
  max-width: 500px;
  width: 100%;
  min-height: 200px;
  background-color: #fff;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.betForm label, .betForm p {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid rgb(189, 183, 183);
}

.betForm input, .betForm select {
  width: 160px;
}


.modal input[type='number']::-webkit-inner-spin-button,
.modal input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal input[type='number'] {
  -moz-appearance: textfield;
}
